<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="login.component.css">
</head>
<body>
    <div class="auth-container">
        <div class="auth-card">
          <h2>Login</h2>
      
          <input type="email" placeholder="Email" />
          <input type="password" placeholder="Password" />
      
          <button>Login</button>
      
          <div class="auth-footer">
            Don’t have an account? <a routerLink="/signup">Sign up</a>
          </div>
        </div>
      </div>
      

</body>
</html>