<header class="navbar">
    <div class="logo">ShopSphere</div>
  
    <input type="text" placeholder="Search products..." class="search" />
  
    <nav>
      <div class="nav-circles">
        <div class="circle">
          <img src="homePage_img/women.jpg" />
          <a [routerLink]="['/products']" [queryParams]="{gender: 'WOMEN'}">Women</a>
        </div>
      
        <div class="circle">
          <img src="homePage_img/men.jpg" />
          <a [routerLink]="['/products']" [queryParams]="{gender: 'MEN'}">Men</a>
        </div>
      
        <div class="circle">
          <img src="homePage_img/kids.jpg" />
          <a [routerLink]="['/products']" [queryParams]="{gender: 'KIDS'}">Kids</a>
        </div>
      </div>
      
    </nav>
  
    <div class="icons">
      <a routerLink="/wishlist" title="Wishlist">
        <i class="bi bi-heart"></i>
      </a>
    
      <a routerLink="/cart" title="Cart">
        <i class="bi bi-cart"></i>
      </a>
    
      <a routerLink="/profile" title="Profile">
        <i class="bi bi-person"></i>
      </a>
    </div>
    
    
  </header>
  